<div style="background-image: url('assets/backgrounds/background_2.jpg'); height: 100vh;">
    <app-navigation-bar></app-navigation-bar>
    <div class="all-todos-div">
        <div class="all-todos">
            <mat-card *ngFor="let todo of todos; let i = index" class="example-card">
                <mat-card-header>
                    <mat-card-subtitle>{{ todo.date.seconds*1000 | date }}</mat-card-subtitle>
                    <mat-card-title>{{ todo.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ todo.description }}

                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="deleteTodo(todo)" mat-button>Delete</button>
                    <button mat-button (click)="openDialog(todo, i)">Change</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>