.button-toogle {
    position: absolute;
    right: 20px;
    top: 20px;
}

.example-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  
  .example-sidenav {
    padding: 50px;
  }